body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

/* ----> Les conteneurs de la page <---- */
#navbar, #header, #main{
    display: flex;
    /* margin: 10px; */
}

#header, #main{
    margin: 10px;
}

/* ----> Logo + Nav <---- */
#navbar {
    margin: 0;
}

#navbar .contentnav {
    width: 100%;
}

.parent {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.child1 {
    position: absolute;
    top: 0px;
    right: 240px;
    padding-top: 30px;
    height: 30%;
}

.child2 {
    position: absolute;
    top: 0px;
    right: 120px;
    padding-top: 30px;
    height: 30%;

}

.monlogo {
    width: 140px;
    height: 65px;
    justify-content: start;
    padding-top: 10px;
    padding-left: 1%;

}

#navbar a {
    font-weight: bold;
    text-decoration: none;
}

#navbar .a1 {
    color: #1b1b1b;
}

#navbar .a2 {
    color: #1b1b1b;
}

#navbar .a3 {
    color: #0065FC;
    padding-top: 30px;

}

#navbar .a1:hover,#navbar .a2:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* ----> Header <---- */
.containerheader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;   
}

.headertitle {
    padding: 2% 0 2%;
    font-size: 12px;
}

/* Barre de recherche */
.searchbar {
    display: flex;
}

.fa-map-marker-alt {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 0 0 10px;
}

.search0 {
    border: 2px solid #F2F2F2;
    font-size: 16px;
    padding-left: 15px;
}

::placeholder {
    color: #242424;
    font-weight: bold;
}

.button-1 {
    background-color: #0065fc;
    height: 40px;
    width: 110px;
    border-radius: 0 12px 12px 0;
    border: 0;
    font-size: 0;
}

.button-1::after {
    content: "Rechercher"; 
    font-size: 16px; 
    color: #FFF; 
}

/* Les filtres Economique, Familial etc */
.filtre {
    margin-top: 1%;
    margin-bottom: 1%;
}

.contentfiltre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtre0 {
    margin-right: 10px;
    font-weight: bold;
}

.filtre1 {
    margin-right: 10px;
    border: 2px solid #E2E2E2;
    border-radius: 5em;
    display: flex;
    height: 35px;
}

.styledfiltre {
    background-color: white;
    border: none;
    border-radius: 5em;
    font-weight: bold;
}

.styledfiltre:hover {
    color: #0065FC;
}

.filtre2 {
    background-color: #DEEBFF;
    border-radius: 5em;
    width: 35px;
}

.iconcentre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #0065FC;
}

#info {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1%;
    color: #0065FC;
    border: 2px solid #E2E2E2;
    border-radius: 5em;
    padding: 3px;
    margin-right: 10px;
}

.info {
    font-size: 14px;
}

/* ----> Premiere section <---- */
/* ----> Parties Hebergement et Populaire<---- */
#main {
    flex-wrap: wrap;
    justify-content: space-between;
}

#main .container, #main .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    background-color: #E2E2E2;
    font-size: 0.8em;
} 

.maincontent1,.maincontent2,.item3 {
    background-color: #FFF
}

.maincontent1:hover,.maincontent2:hover,.content1:hover,.subcontent:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 0.5s;
}

/* Partie gauche hebergement*/
#main .container {
    margin-right: 1%;
    flex: 3;
}

#main .container h2, #main .container h3:last-child {
    width: 100%;
    padding-left: 3%;
}

h2 {
    padding-top: 2%;
    margin: 0;
}

.container h3:last-child:hover {
    color: #0065FC;
}

.maincontent1 {
    padding: 5px;
    margin: 2%;
    flex-basis: 28%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.200);
}

.maincontent1 p,.maincontent1 h2,.maincontent1 h3 {
    margin: 6px 0;
}

.maincontent1 img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.maincontent1 .divheb {
    padding-left: 3%;
}

.star0 {
    color: #0065FC;
}

.star1 {
    color: #E2E2E2;
}

/* Partie populaire*/
#main .container2 {
    flex: 1;
}

#main .container2 h2 {
    width: 80%;
    padding: 5% 0% 6% 5%;
    margin: 0;
    text-align: start;

}

#main .container2 .fa-chart-line {
    padding-top: 5%;
    width: 10%;
}

.maincontent2 {
    display: flex;
    border-radius: 20px;
    width: 90%;
    padding: 5px;
    margin: 2%;
    text-decoration: none;
    color: inherit;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.200);
    
}

.maincontent2 h2,.maincontent2 h3 {
    margin: 6px 0;
}

.maincontent2 p {
    margin-top: 6px;
    margin-bottom: 60px;
}

.imgpop1,.imgpop2,.imgpop3 {
    width: 40%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
}

.imgpop1 {
    background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.imgpop2 {
    background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.imgpop3 {
    background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.maincontent2 .divpop {
    padding-left: 3%;
    width: 50%;
}

/* ----> Seconde section <---- */
/* Partie activites */
#second h2 {
    padding: 1% 0 1% 3%;
}

#second .container-grille {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
}

#activites {
    grid-column: span 4;
}

#second .container-grille .imgxlarge {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

#second .container-grille .imglarge1 {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

#second .container-grille .imglarge2 {
    width: 100%;
    height: 203px;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

#second .content1, #second .content2 {
    margin-left: 3%;
    margin-right: 3%;
}

#second .content1 p, #second .content2 p {
    padding-left: 3%;
}

#second .content1 a, #second .content2 a {
    width: 100%;
}

#second .content1 {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.200);
    border-radius: 20px;
}

#second .content2 .subcontent {
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.200);
}

#second .content2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#second .subcontent {
    width: 94%;
}

#second .imgl1 {
    margin-bottom: 2%;
}

#second .imgl2 {
    margin-top: 1%;
}

/* ----> Footer <---- */
#footer {
    display: flex;
    margin: 5% 0 0 0;
    background-color: #F2F2F2;
}

#footer p, #footer h2 {
    margin: 1%;
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 2%;
}

#footer .content {
    flex-basis: 30%;
}

#footer .content h2,#footer .content p {
    padding-bottom: 2%;
}

#footer .content a {
    text-decoration: none;
    color: #1b1b1b;
}

#footer .content a:hover {
    color: #0065FC;
}

/* ----> Media Querry (1200px / 821px) <---- */
@media screen and (max-width: 1200px){
/* ----> Premiere section <---- */
/* Partie hebergement */
    #main .container {
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 2%;
        margin-right: 0;
    }

    .maincontent1 {
        width: 100%;
    }

/* Partie populaire */
    #main .container2 {
        width: 100%;
    }

    #main .container2 h2 {
        width: 80%;
        margin: 2% 0 0 0;
        padding: 0;
    }
    
    #main .container2 .fa-chart-line {
        padding: 3% 0 0 3%;
    }

    .maincontent2 {
        flex-basis: 28%;
        display: flex;
        flex-wrap: wrap;
    }

    .imgpop1,.imgpop2,.imgpop3 {
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0px;
    }

    .maincontent2 .divpop {
        padding-left: 3%;
        width: 100%;
    }

    .maincontent2 p,.maincontent2 h3 {
        margin: 6px 0;
    }
}

/* ----> Media Querry (820px / 600px) <---- */
@media only screen and (max-width: 820px) and (min-width: 600px){
/* ----> Première section <---- */
    #main {
        flex-direction: column-reverse;
    }
/* Partie hebergement */
    .maincontent1 {
        flex-basis: 40%;
    }

/* Partie populaire */
    .container2 {
        margin-bottom: 3%;
    }
    
    #main .container2 h2 {
        width: 80%;
    }

    .maincontent2 {
        margin: 3%;
        display: flex;
        border-radius: 20px;
        flex-basis: 90%;
        width: 80%;
    }

    .imgpop1,.imgpop2,.imgpop3 {
        width: 40%;
        height: 150px;
        background-size: cover;
        background-position: center;
        border-radius: 15px 0 0 15px;
    }

    .maincontent2 .divpop {
        padding-left: 3%;
        width: 50%;
    }

/* ----> Seconde section <---- */
/* Partie activites */
    #second .container-grille {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: flex-start;
    }

    #activites {
        grid-column: span 2;
    }

    #second .container-grille .imgxlarge {
        height: 500px;
    }

    #second .container-grille .imglarge2 {
        height: 180px;
        object-fit: cover;
        border-radius: 10px 10px 0 0 ;
    }
    #second .content1, #second .content2 {
        height: 98%;
    }
}
/* ----> Media Querry (599px et moins) <---- */
@media only screen and (max-width: 599px) {
/* ----> Logo + Nav <---- */
    #navbar {
        margin: 0;
        padding: 0;
    }

    #navbar .contentnav {
        margin-bottom: 10%;
        padding: 0;
    }

    .parent {
        margin: 0;
    }

    .child1 {
        top: 100px;
        left: 0;
        font-size: 1em;
        width: 50%;
        text-align: center;
        padding-bottom: 3%;
    }

    .child2 {
        position: absolute;
        top: 100px;
        right: 0;
        font-size: 1em;
        width: 50%;
        text-align: center;
        padding-bottom: 3%;
    }

    #navbar .child1,#navbar .child2 {
        border-bottom: 2px solid #00000013;
    }

    #navbar .a1:hover,#navbar .a2:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }

    .monlogo {
        width: 140px;
        height: 65px;
        padding-left: 3%;
        justify-content: start;
    }

    #navbar a {
        font-weight: bold;
        text-decoration: none;
    }

    #navbar .a1 {
        color: #1b1b1b;
    }

    #navbar .a2 {
        color: #1b1b1b;
    }

    #navbar .a3 {
        color: #0065FC;
        font-size: 1.7em;
        text-align: center;
        display:block;
        width:40%;
        text-align: end;
        padding-right: 3%;
    }

/* ----> Header <---- */
    #header h2 {
        padding-top: 10%;
    }

    .filtre {
        margin: 5% 0 3%;
    }

    .filtre0 {
        width: 100%;
        padding-bottom: 3%;
    }

    .filtre1 {
        margin: 1%;
    }

    .searchbar {
        width: 90%;
    }

    .fa-map-marker-alt {
        width: 5%;
    }

    .search0 {
        width: 100%;
    }
    
    .button-1 {
        display: flex;
        width: 15%; 
        border-radius: 0 12px 12px 0; 
        padding: 0 5% 0 0;
        justify-content: center;
        align-items: center;
    }

    .button-1::after {
        content: "Rechercher"; 
        font-size: 0;
    }

    .fa-search {
        display: block;
        background-color: #0065FC;
        border: none;
        color: white;
        padding: 10px 13px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 0 10px 10px 0;
        width: 3%;
    }
 
/* ----> Premiere section <---- */
    #main {
        flex-direction: column-reverse;
        margin: 0;
    }

/* Partie populaire */
    #main .container2 {
        border-radius: 0;
        padding: 0;
    }

    .maincontent2 {
        display: flex;
        border-radius: 20px;
        flex-basis: 90%;
    }

    #main .container2 h2 {
        width: 80%;
    }

    .imgpop1,.imgpop2,.imgpop3 {
        border-radius: 15px 0 0 15px;
        width: 40%;
        height: 150px;
    }

    .maincontent2 .divpop {
        padding-left: 3%;
        width: 50%;
    }

/* Partie hebergement */
    #main .container {
        border-radius: 0;
        margin: 7px 0;
        /* padding: 0; */
        background-color: white;
    }
    
    .maincontent1 {
        padding: 5px;
        margin: 7px 40px 7px;
        width: 100%;
        flex-basis: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.200);
    }

    .maincontent1 img {
        border-radius: 20px 20px 0 0;
    }

    .maincontent1 h3,.maincontent1 p,.maincontent1 .star {
        padding-left: 10px;
    }

    .maincontent1 i {
        padding-bottom: 10px;
    }

/* ----> Seconde section <---- */
/* Partie activites */
    #second {
        width: 100%;
    }

    #second .container-grille {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #activites {
        width: 100%;
    }

    #second .container-grille .imgxlarge {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0 ;
    }

    #second .container-grille .imglarge1 {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0 ;
    }

    #second .container-grille .imglarge2 {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0 ;
    }

    #second .content1, #second .content2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    } 

    #second .content1 {
        margin-top: 10px;
        margin-bottom: 10px;
    } 

    #second .subcontent {
        width: 100%;
    }

/* ----> Footer <---- */
    #footer .content{
        flex-basis: 100%;
    }
}
/* ----> Media Querry (400px et moins) <---- */
@media only screen and (max-width: 400px) {
/* ----> Header <---- */
    .headertitle {
        padding-top: 5%;
    }

    .searchbar {
        width: 100%;
    }

/* ----> Premiere section <---- */
/* Partie populaire */
    .maincontent2 {
        flex-basis: 90%;
    }

/* Partie hebergement */
    .maincontent1 {
        margin: 7px;
    }
}