body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
}

#container{
    max-width: 1440px;
    margin: 0 auto;
}
/* ----> LOGO + NAV <---- */

#navbar{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#navbar .contentnav{
    margin: 3px;
    padding: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.parent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.child1 {
    position: absolute;
    top: -30px;
    right: 240px;
    padding-top: 30px;
}
.child2 {
    position: absolute;
    top: -30px;
    right: 120px;
    padding-top: 30px;
}
.monlogo{
    width: 10%;
}
#navbar a{
    font-weight: bold;
    text-decoration: none;
}
#navbar .a1{
 color: #1b1b1b;
}
#navbar .a2{
 color: #1b1b1b;
}
#navbar .a3{
 color: #0065FC;
}
#navbar .a1:hover,#navbar .a2:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* ----> HEADER <---- */

#header{
    display: flex;
    margin: 10px;
}
.containerheader{
    margin: 3px;
    padding: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;   
}
.searchbar{
    display: flex;
}
.fa-map-marker-alt{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 0 0 10px;
}
.search0{
    border: 1px solid #F2F2F2;
    text-align: center;
    font-size: 16px;
}
/* .search1{
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
} */

.button-1 {
background-color: #0065fc;
color: #FFF;
height: 50px;
width: 134px;
border-radius: 0 12px 12px 0;
border: 0;
padding: 0 20px 0 20px;
font-size: 0;
}

.button-1::after {
    content: "Rechercher"; 
    font-size: 16px; 
    color: #FFF; 
}


.filtre{
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentfiltre{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    width: 100%;
    height: 35px;
    align-items: center;
}

.filtre0{
    margin-right: 10px;
    border-radius: 15px;
    padding: 3px;
    font-weight: bold;
    color: black;
}

::placeholder{
    color: #242424;
    text-align: start;
    padding-left: 10px;
    font-weight: bold;
}

.filtre1{
    margin-right: 10px;
    margin-top: 5px;
    border: 2px solid #E2E2E2;
    border-radius: 5em;
    display: flex;
    height: 35px;
}

.styledfiltre:hover{
    color: #0065FC;
}

.filtre2{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 35px;
    height: 100%;

}

.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog{
 /* padding-left: 10px;
    padding-top: 10px; */
    width: 100%;
    height: 100%;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styledfiltre{
    background-color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

/* ----> PREMIERE SECTION <---- */

/* ----> Partie gauche et droite <---- */
#main{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}
#main .container,#main .container2{
    background-color: #E2E2E2;
    padding: 17px;
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    border-radius: 10px;
}
.maincontent1,.maincontent2,.item3{
    background-color: white;
}

/* Partie gauche uniquement*/
#main .container{
    width: 64%;
    justify-content: center;
    margin-right: 3%;

}
#main .container h2, #main .container h3:last-child{
    width: 100%;
    padding-left: 32px;
}
.maincontent1{
    padding: 5px;
    margin: 7px;
    flex-basis: 28%;
    text-align: left;
    border-radius: 10px;
    max-height: 210px;
    max-width: 100%;
}

.maincontent1 p,.maincontent1 h2,.maincontent1 h3{
    margin: 6px 0;
}

.maincontent1 img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.star0{
    color: #0065FC;
}
.star1{
    color: #E2E2E2;
}

 /* Partie droite uniquement*/
#main .container2{
    justify-content: center;
    align-content: center;
    width: 26%;
}
#main .container2 h2{
    width: 90%;
}
#main .container2 .fa-chart-line{
    width: 5%;
}
.maincontent2{
    padding: 5px;
    margin: 7px;
    display: flex;
    border-radius: 10px;
}

.maincontent2 h2,.maincontent2 h3 {
    margin: 6px 0;
}

.maincontent2 p {
    margin-top: 6px;
    margin-bottom: 50px;
}

.maincontent2 img{
    width: 140px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.maincontent2 h3,.maincontent2 p{
    max-width: 100%;
}
.maincontent2 div{
    padding-left: 10px;
}

/* ----> SECOND SECTION <---- */

#second{
    display: flex; 
}
#second .content1 p,#second .content2 p {
    font-weight: bold;
}
#second .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#second .container h2{
    width: 100%;
    padding-left: 13px;
}
#second .container .imgxlarge{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}
#second .container .imglarge{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;

}
#second .container .content1,#second .container .content2{
    margin: 14px;
    width: 22%;
    border-radius: 10px;
}
#second .content1{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.200);
    border-radius: 10px;
}

#second .content1 p{
    padding-left: 10px;
}
#second .content2 .subcontent{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.200);
}
#second .content2 .subcontent p{
    padding-left: 10px;
}

/* ----> FOOTER <---- */

#footer{
    display: flex;
    margin: 10px;
    background-color: #F2F2F2;
}
#footer p {
    margin: 5px;
}
#footer .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 3px;
    padding: 17px;
}
#footer .content{
    flex-basis: 30%;
}
#footer .content h2,#footer .content p{
    padding-bottom: 10px;
}

/* ----> MEDIA QUERRY 1200px <---- */

@media screen and (max-width: 1200px){
    #main .container{
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 3px;
        margin-top: 20px;
        margin-right: 0;

    }
    .maincontent1{
        width: 100%;
        /* flex-basis: 45%; */
    }
    #main .container2{
        width: 100%;
        flex-basis: 100%;
        margin-right: 0;
    }
    .maincontent2{
        max-width: 100%;
        max-height: 100%;
        flex-basis: 28%;
        text-align: left;
        display: block;
    }
    .maincontent2 img{
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0 0;
    }
}

/* ----> MEDIA QUERRY 950px 800px <---- */
@media only screen and (max-width: 949px) and (min-width: 800px){
    #second .container{
    padding: 20px;
    }
    #second .container .imgxlarge,#second .container .imglarge{
        /* height: 150px; */
        width: 100%;
    }
    #second .container .content1,#second .container .content2{
        width: 45%;
    }
}
/* ----> MEDIA QUERRY 800px <---- */

@media only screen and (max-width: 799px) and (min-width: 600px){
    .maincontent1{
        width: 100%;
        flex-basis: 40%;
    }

    .maincontent2{
        padding: 5px;
        margin: 7px 40px 7px;
        display: flex;
        border-radius: 20px;
        flex-basis: 100%;
    }
    .maincontent2 img{
        width: 150px;
        height: 160px;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }
    #second .container{
    padding: 20px;
    }
    #second .container .imgxlarge,#second .container .imglarge{
        /* height: 150px; */
        width: 100%;
    }
    #second .container .content1,#second .container .content2{
        width: 45%;
    }
}
/* ----> MEDIA QUERRY 599px et moins <---- */
@media only screen and (max-width: 599px) {

/* ----> LOGO + NAV <---- */

    #navbar{
        display: flex;
        margin: 10px;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    #navbar .contentnav{
        margin: 3px;
        padding: 17px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        width: 100%;
    }
    .parent {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        /* justify-content: space-between; */
    }
    .child1 {
        position: absolute;
        top: 100px;
        left: 0;
        font-size: 1.4em;
        width: 50%;
        text-align: center;
        margin: 0;
    }
    .child2 {
        position: absolute;
        top: 100px;
        right: 0;
        font-size: 1.4em;
        width: 50%;
        text-align: center;
        margin: 0;
    }
    #navbar .child1,#navbar .child2{
        border-bottom: 2px solid #00000013;
    }
    #navbar .a1:hover,#navbar .a2:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    .monlogo{
        width: 140px;
        height: 60px;
        padding: 10px;
    }
    #navbar a{
        font-weight: bold;
        text-decoration: none;
    }
    #navbar .a1{
    color: #1b1b1b;
    }
    #navbar .a2{
    color: #1b1b1b;
    }
    #navbar .a3{
    color: #0065FC;
    font-size: 1.7em;
    text-align: center;
    /* width: 70%; */
    display:block;
    width:200px;
    padding-top: 25px;
    /* margin:0 auto; */
    }

/* ----> HEADER <---- */
    #header h2{
        padding-top: 30px;
    }
    .filtre{
        margin-bottom: 70px;
    }
    .filtre0{
        width: 100%;
    }
    /* .search1{
    content: '<i class="fas fa-search"></i>';
    } */

    .button-1 {
        display: flex;
        width: 50px; 
        border-radius: 0 12px 12px 0; 
        padding: 0;
        align-items: center;
    }

    .button-1::after {
        content: "Rechercher"; 
        font-size: 0;
    }


    .fa-search{
        display: block;
        background-color: #0065FC;
        border: none;
        color: white;
        padding: 10px 13px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 0 10px 10px 0;
        width: 3%;
    }
 
/* ----> PREMIERE SECTION <---- */

    #main{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
    #main .container2{
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 20px 0;

    }
    .maincontent2{
        padding: 5px;
        margin: 7px 40px 7px;
        display: flex;
        border-radius: 20px;
        flex-basis: 100%;
    }
    #main .container2 h2{
        width: 70%;
        padding-left: 25px;
       }
    .fa-chart-line{
        padding-top: 25px;
        padding-right: 40px;
    }
    .maincontent2 img{
        width: 150px;
        height: 160px;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }
        #main .container{
        width: 100%;
        /* flex-basis: 100%; */
        /* margin-right: 0; */
        border-radius: 0;
        margin: 7px 0;
        padding: 0;
        background-color: white;

    }
        .maincontent1{
        padding: 5px;
        margin: 7px 40px 7px;
        width: 100%;
        flex-basis: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.200);

    }
        .maincontent1 img{
        border-radius: 20px 20px 0 0;
    }
        .maincontent1 h3,.maincontent1 p,.maincontent1 .star{
            padding-left: 10px;
    }
        .maincontent1 i{
            padding-bottom: 10px;
    }

/* ----> SECOND SECTION <---- */

    #second .container{
    padding: 20px;
    }
    #second .container .imgxlarge,#second .container .imglarge{
        height: 150px;
        width: 100%;
    }
    #second .container .content1,#second .container .content2{
        width: 100%;
    }

/* ----> FOOTER <---- */
        #footer{
        margin: 0;
    }
        #footer .content{
        flex-basis: 100%;
    }
}